.Main{
    background-image: linear-gradient(rgb(3, 7, 1),rgb(52, 11, 117));
}

#fst
{
    border-color: orange;
    border-inline-color: yellow;
    box-sizing: border-box;
    font-variant: inherit;
    
    

    
   

}

h3
{
    color: rgb(166, 255, 0);
    font-family: cursive;
    
    
}

#s
{
    font-family: cursive;
    height: fit-content;
    font-size: large;
    color: black;
    background-color:lightblue;
    font-weight: bolder;
    text-shadow: 100%;
    text-overflow: clip;
    text-decoration-color: aliceblue;
}

h1
{
    font-family: 'optima';
    font-size: large;
    font-style: italic;
    font-stretch: expanded;
    font-weight: bolder;
}