nav {
   background-color: #333;
   overflow: hidden;
   display: flex;
    flex-wrap: inherit;
    align-items: center;
    height: fit-content;
    
  
    
  }
  
  #navbar {
    display: flex;
   color: beige;
   text-align: center;
   width: 2px;
   padding: 0px 0px 0px 0px ;
   text-decoration:line-through;
   font-size: 17px;
   align-items: center;
   overflow:visible;
   margin-top: 0rem;
   margin-bottom: 0rem;
  }
  
  #navbar li {
    list-style: none;
    padding:0 50px;
    position:-webkit-sticky;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    font-family: cursive;
    transition: 0.3s ease-in-out;
    padding: 10px 10px;
  }
  
  #navbar li a:hover {
    color: rgb(255, 0, 170);
  }
  
  #imgg{
    width:auto;
    height:auto;
    box-sizing: border-box;
    animation: updown 1s linear infinite;


  }

  #active
  {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: rgb(255, 43, 6);
   justify-content:flex-end;
  }

  @keyframes updown{
    0%,100%{
      transform: translateY(0);
    }
    50%{
      transform: translateX(20px);
    }
  }






  
  